# HuggingFace Token (required for VLLM to download model)
HF_TOKEN=

# vllm
VLLM_API_KEY=vllm

# PostgreSQL
POSTGRES_PASSWORD=admin

# OpenWebUI
WEBUI_SECRET_KEY=admin

# Argilla
ARGILLA_SECRET_KEY=admin
ARGILLA_ADMIN_PASSWORD=admin
ARGILLA_ADMIN_API_KEY=admin
